# Chaves e variáveis de ambiente (Segurança)
data/arquivos.env
*.env
.env

# Ambiente virtual
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
node_modules/

# Documentos de instruções e contexto gerados
instructions.md
context.md

